    @{
    ViewBag.Title = "District";
}
<form method="post" enctype="multipart/form-data">
    <div>
        <label>Excel Import</label>    
        <input type="file" name="f" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </div>
    <div>
        <button>Import</button>
    </div>
</form>