<div class="view-options view-options--offcanvas--mobile">                        
        <div class="view-options__legend">Showing <span id="count"></span> of <span id="total"></span> products</div>
        <div class="view-options__divider"></div>
        <div class="view-options__control">
                <label for="">
                    Sort By
                </label>
                <div>
                    <select class="form-control form-control-sm" name="" id="slOrder">
                        <option value="1">Default</option>
                        <option value="2">Name (A-Z)</option>
                    </select>
                </div>
            </div>
            <div class="view-options__control">
                <label for="">
                    Show
                </label>
                <div>
                    <select class="form-control form-control-sm" name="" id="slPageSize">
                        <option value="20">20</option>
                        <option value="40">40</option>
                    </select>
                </div>
            </div>
    </div>